ADMIN_NAME="admin"
ADMIN_PASSWORD="admin"

PORT=8080

DB_HOST=localhost
DB_USER=monero_merchant
DB_PASSWORD=monero_merchant_password
DB_NAME=monero_merchant
DB_PORT=5432

JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_MONEROPAY_SECRET=your_moneropay_secret
JWT_LWS_TOKEN=your_lws_token

# MoneroPay
MONEROPAY_BASE_URL=http://localhost:5000
MONEROPAY_CALLBACK_URL=http://localhost:80/callback/
MONERO_DAEMON_RPC_ENDPOINT=http://localhost:18089/json_rpc
MONERO_WALLET_RPC_ENDPOINT=http://localhost:28081/json_rpc
MONERO_WALLET_RPC_USERNAME=
MONERO_WALLET_RPC_PASSWORD=

MONERO_DAEMON_RPC_ENDPOINT=

# Wallet
WALLET_NAME=wallet
WALLET_PASSWORD=
WALLET_AUTO_REFRESH_PERIOD=2
